<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Passenger Satisfaction ML</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/donut.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Passenger Satisfaction Prediction</h1>
        <form id="form">
            <!-- Agrega tus campos de entrada aquí -->
            <input type="text" id="gender" placeholder="Gender" required>
            <input type="text" id="customer_type" placeholder="Customer Type" required>
            <!-- Agrega más campos según sea necesario -->
            <button type="button" id="filter">Submit</button>
        </form>

        <div id="donut"></div>
        <div id="output"></div>
    </div>
</body>
</html>
