/* Map sizing */
#map-container {
  height: 600px;
}

#map {
  height: 80%;
}

/* Navbar sizing */
.navbar-nav h4 {
  font-size: 1.5rem; /* Adjust the font size as needed */
  /* Add any other styling you want for all h4 elements in the navbar */
}

.navbar-nav .nav-link.active {
  font-size: 1.5rem; /* Match the font size of the other h4 elements */
  /* Add any other styling for the active link */
}

/* Bar chart */
.bar {
  cursor: pointer;
}
#tooltip {
  position: absolute;
  text-align: center;
  padding: 5px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}
.x-axis text, .y-axis text {
  font-size: 12px; /* Tamaño de fuente más pequeño para las etiquetas de los estados */
  fill: #fff;
}
.x-axis text.title, .y-axis text.title {
  font-weight: bold;
  font-size: 18px; /* Tamaño de fuente mayor para los títulos de los ejes */
}
.x-axis path, .y-axis path {
  stroke: #fff;
}
.x-axis line, .y-axis line {
  stroke: #fff;
}

/* Leaflet Map Legend */
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info h4 { 
  margin: 0 0 5px;
  color: #777;
}

.legend {
  padding: 10px;
  line-height: 18px;
  color: #555;
  background-color: #fff;
  border-radius: 5px;
}

.legend i {
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  opacity: 0.7;
}

.leaflet-bottom.leaflet-left {
  width: 90%;
}

.leaflet-control-container .leaflet-timeline-controls {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 15px;
}
body, html {
  height: 100%;
}

/* The hero image */
.hero-image {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.natgeofe.com/n/afed9877-feea-4292-bbc0-d049bab77277/north-cascades-national-park-picture-lake-mount-shuksan.jpg?w=2048&h=1366");

/* Set a specific height */
height: 40%;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
p {
  font-family: Georgia

;
}
/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.nav-link i {
  color: whitesmoke;
}
.nav-link i {
  font-size: 25px;
}
/* The hero image */
.hero2-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/parks_banner.png");

  
  /* Set a specific height */
  height: 50%;
  
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.custom-heading {
    background-color: rgba(61, 202, 190, 0.548);
    color: white;
}

.custom-paragraph {
    background-color: rgba(61, 202, 190, 0.548);
    color: whitesmoke  ;
}

.custom-title {
  background-color: rgba(61, 202, 190, 0.548);
  color: whitesmoke  ;
}
