<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Airplane Satisfaction ML</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="static/js/logic.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"></a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/tableau1">Tableau Dashboard 1</a>
                </li>
                <li class="nav-item"></li>
                <a class="nav-link" href="/tableau2">Tableau Dashboard 2</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/model">Machine Learning</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/report">Report</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" href="/about_us">About Us</a>              
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/sources">Sources</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- add spacing -->
    <br/>
    <!-- About Us Dashboard -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
              <h1><strong>ABOUT OUR TEAM</strong></h1>
              <br/>
            </div>
        <div class="row">
            <div class="col-md-4 about-block">
                <h3>Marta Baker</h3> 
                <img src="static/images/Marta.jpg" alt="Marta Baker" class="img-fluid">
                <p>Marta is a Quality Control Data Analyst for a market research company. When she isn't working, she's hanging out with friends, reading, or watching copious amounts of sports with her 3 cats.</p>
                <a href="https://github.com/martabaker">Marta Baker's GitHub</a>
            </div>

            <div class="col-md-4 about-block">
                <h3>Sarah Chauvin</h3> 
                <img src="static/images/Kevin.jpg" alt="Kevin Carney" class="img-fluid">
                <p>K</p>
                <a href="https://www.linkedin.com/in/sarah-chauvin-3824992a2/" target="_blank">LinkedIn</a>
                <br/><a href="https://github.com/RedRajah13" target="_blank">GitHub</a><br/>
            </div>

            <div class="col-md-4 about-block">
                <h3>Elizabeth Viramontes</h3> 
                <img src="static/images/Katie.jpg" alt="Katie Rebeck" class="img-fluid">
                <p>a</p>
                <a href="https://www.linkedin.com/in/elizabeth-viramontes-828a76249/" target="_blank">LinkedIn</a>
                <br/><a href="https://github.com/ElizabethVira" target="_blank">GitHub</a>
            </div>

            <div class="col-md-4 about-block">
              <h3>Gabriela Zarate</h3> 
              <img src="static/images/Katie.jpg" alt="Katie Rebeck" class="img-fluid">
              <p>a</p>
              <a href="https://www.linkedin.com/in/gabriela-zarate-098252248" target="_blank">LinkedIn</a>
              <br/><a href="https://github.com/gabrielaza22" target="_blank">GitHub</a>
          </div>
        </div>
    </div>
</body>

</html>