<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Airplane Satisfaction ML</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="static/js/logic.js"></script>

</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" data-bs-theme="dark">
      <div class="container-fluid">
          <a class="navbar-brand" href="/"></a>
          <ul class="navbar-nav me-auto">
              <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="/tableau1">Tableau Dashboard 1</a>
              </li>
              <li class="nav-item"></li>
              <a class="nav-link" href="/tableau2">Tableau Dashboard 2</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="/model">Machine Learning</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="/report">Report</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="/about_us">About Us</a>              
              </li>
              <li class="nav-item">
              <a class="nav-link active" href="/sources">Sources</a>
              </li>
          </ul>
      </div>
  </nav>
    
      <!-- add spacing -->
    <br/>
    <div class="row">
        <iframe class="pdf"
            src=""
            width="800" height="800">
        </iframe>
    </div>
</body>