<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Airplane Satisfaction ML</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="static/js/logic.js"></script>
    <script type="text/javascript" src="static/js/donut.js"></script>
    <!-- D3 and Plotly -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
    <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>FORMULA 1 DRIVER BY NATIONALITY</h1>
            <p>Use the interactive charts below to explore the dataset</p>
          </div>
        </div>

        <!-- Bubble and Bar Charts -->
        <div class="row">
          <div class="col-md-12 about-block">
            <div id="donut"></div>
          </div>
        </div>
</body>